<!-- Copyright (C) 2020 Dylan Staatz - All Rights Reserved. -->

<launch>

    <arg name="imu_serial_port" default="/dev/ttyUSB0"/>
    <arg name="lidar_serial_port" default="/dev/ttyUSB0"/>

    <include file="imu.launch">
        <arg name="imu_serial_port" value="$(arg imu_serial_port)"/>
    </include>

    <include file="lidar.launch">
        <arg name="lidar_serial_port" value="$(arg lidar_serial_port)"/>
    </include>

</launch>
