<!-- Copyright (C) 2020 Dylan Staatz - All Rights Reserved. -->

<launch>

    <include file="odom.launch"/>

    <!-- SLAM mapping -->
    <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="./mapping_params.yaml" />
    </node>

    <!-- Manually start tiger-car-ros on raspberry pi -->
    <!-- Manually start tiger-controller-ros on laptop -->

</launch>

